@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  body {
    @apply bg-dark-primary text-light-text;
  }

  body.light {
    @apply bg-light-primary text-zinc-800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-grotesk), sans-serif;
  }

  p {
    font-family: var(--font-grotesk), sans-serif;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #101010;
  }

  ::-webkit-scrollbar-thumb {
    background: #161616;
    border: 0px solid #121212;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  @apply focus:ring-2 focus:ring-brand-green/50 focus:border-brand-green hover:border-brand-green/50 focus:border hover:transition;
}

/* O bloco de baixo controla o FORMATO DA GRID do layout principal <<--COM-->> a sidebar direita */

/* .layout-grid {
  display: grid;
  grid-template-columns: 230px 1fr 300px;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar main-topbar sidepanel"
    "sidebar main sidepanel";
} */

/* O bloco de baixo controla o FORMATO DA GRID do layout principal <<--SEM-->> a sidebar direita */

/* .layout-grid {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-topbar"
    "sidebar main";
} */

.header-dashboard {
  grid-area: header;
}

.sidenav-dashboard {
  grid-area: sidebar;
}

.sidepanel {
  grid-area: sidepanel;
}

.main-topbar {
  grid-area: main-topbar;
}

.main-container {
  grid-area: main;
}

/* Custom Scrollbar -- Categories */
.custom-scrollbar-categories::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

.custom-scrollbar-categories::-webkit-scrollbar-track {
  background: #070707;
}

.custom-scrollbar-categories::-webkit-scrollbar-thumb {
  background: #00ff8550;
  border: 0px solid #121212;
}

.custom-scrollbar-categories::-webkit-scrollbar-thumb:hover {
  background: #444;
}
