@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-dark-primary text-light-text;
  }

  body.light {
    @apply bg-light-primary text-zinc-800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-grotesk), sans-serif;
  }

  p {
    font-family: var(--font-grotesk), sans-serif;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #181818;
  }

  ::-webkit-scrollbar-thumb {
    background: #222;
    border: 0px solid #121212;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  @apply focus:ring-2 focus:ring-brand-green/50 focus:border-brand-green hover:border-brand-green/50 hover:transition;
}

.layout-grid {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  grid-template-rows: 6vh auto 1fr;
  grid-template-areas:
    "header header header"
    "sidebar main-topbar sidepanel"
    "sidebar main sidepanel";
}

.header-dashboard {
  grid-area: header;
}

.sidenav-dashboard {
  grid-area: sidebar;
}

.sidepanel {
  grid-area: sidepanel;
}

.main-topbar {
  grid-area: main-topbar;
}

.main-container {
  grid-area: main;
}

.post-content h1 {
  @apply text-4xl font-bold;
}

.post-content p {
  @apply text-zinc-300 text-lg mb-6;
}

.post-content p a {
  @apply text-brand-green border-b border-dashed border-b-brand-green;
}

.post-content p a strong {
  @apply text-brand-green border-b border-dashed border-b-brand-green;
}

.post-content p a:hover {
  @apply text-brand-green/50 transition-colors duration-300;
}

.post-content p strong {
  @apply text-white;
}
